# gradle

.gradle/
build/
out/
classes/

# eclipse
*.launch
remappedSrc/
logs/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
LICENSE
README.md

# fabric

run/
